@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  /* --color-primary: #ff007f; */
  --color-primary: #c31aff;
  --color-mygray: #f3f4f6;
  --color-secondary: #9e00ff;
}

document {
  font-family: var(--font-interfont);
  color: var(--text-color);
  background-color: var(--background-color);
}
html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

@layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }
  .btn {
    width: 100%;
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #ffffff;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
    }
  }
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.animate-fadeUp {
  animation: fadeUp 2s ease-out forwards;
}
